* {
  margin: 0;
  padding: 0;
  font-family: arial, sans;
  font-size: 13px; }

body {
  width: 960px;
  margin: auto; }

#header {
  margin: 20px; }

#reddit {
  width: 300px;
  margin: 10px;
  padding: 4px;
  border: 1px solid #ddd; }

#filter {
  width: 200px;
  margin: 10px;
  border: 1px solid #ddd; }

#reload {
  font-size: 10px;
  font-weight: bold;
  background: #111;
  color: #ddd;
  padding: 4px;
  border: 1px solid #222; }

a {
  display: block;
  color: #334;
  text-decoration: none;
  background: #fdfdff;
  margin: 2px;
  padding: 2px;
  border: 2px solid transparent; }

a:hover {
  background: #f4f4ff;
  border-bottom: 2px solid #000; }

.subreddit {
  text-transform: lowercase;
  color: #888; }

.article {
  margin: 24px; }
